body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa-navegacao { 
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;    /* 30% cada mais 1.5% entre eles = 100% */
    padding: 30px 20px; /* esse padding faz a conta quebrar e os produtos desalinham (box sizing para resolver */
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    color: #c78c19;
}

.produtos li:active {   /*enquanto o mouse estiver clicado no item*/
    border-color: #088c19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

footer {
    text-align: center;
    background: url(bg.jpg);  /*para adicionanr imagem sem ser pelo html*/
    padding: 40px;
}

.copyrigth {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all; /* background-color no lugar de all só mudaria um elemento*/
    cursor: pointer;
}

.enviar:hover {
    background-color: darkorange;
    /*transform: scale(1.2);  -->  com duas tag transform distintas, a segunda iria sobrescrever a primeira */
    transform: scale(1.2) rotate(360deg);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Css da página inicial*/

.banner {
    width: 100%;
}

.tituloPrincipal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;     /* limpa toda a alteração que o float(utensilios) fez no resto da página*/
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;   /*float afeta todo o comportamento da pagina que está abaixo. necessário limpar o float (.tituloPrincipal)*/
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE , #888888);
}

.mapaConteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudoBeneficios {
    width: 640px;
    margin: 0 auto;
}

.listaBeneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.imagemBeneficios {
    width: 60%;
}

.video {
    width: 560px;
    margin: 2em auto;
}

